sudo: required
dist: bionic
notifications:
  email: false
language: node_js
node_js:
  - "12"
services:
  - xvfb
addons:
  - chrome: stable
before_script:
  - npm install -g @ramlmn/serv@0.8.0
  - npm install -g lighthouse@5.5.0
  - export CHROME_PATH=$(which google-chrome-stable)
  - echo "Using $($CHROME_PATH --version)"
script:
  - ./test/runtest.sh
