<footer class="footer section section-dark">
    <div class="container">
        <div class="row">
        	<div class="col-md-6">
        		<h3>CBIT-COSC</h3>
        	</div>
        	<div class="col-md-6">
	        	<div>
	                <i class="fa fa-map-marker"></i>
	                <p>Ocean Park Rd, Kokapet Village, Gandipet Mandal, 
	                  Rangareddy District, Hyderabad, Telangana 500075</p>
           		</div>
	           	<div>
	           		<i class="fa fa-envelope "></i>
	                <p><a href="mailto:info@tibo.tv ">cbitosc@gmail.com</a></p>
                </div>
        	</div>
            <!-- <div class="credits ml-auto">
                <span class="copyright" style="font-weight: 700">
                    © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by COSC
                </span>
            </div> -->
        </div>
    </div>
</footer>