<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CBIT Open-Source Community (COSC)</title>
    <meta name="description" content="COSC is an open-source Community based in CBIT and is managed by its students and staff">

    <meta property="og:title" content="CBIT Open-Source Community - COSC">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cbitosc.github.io/">
    <meta property="og:image" content="https://cbitosc.github.io/assets/img/team/cosclogo.png">
    <meta property="og:description" content="COSC is an open-source Community based in CBIT curated by its students and staff">

    <meta name="twitter:title" content="CBIT Open-Source Community - COSC">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://cbitosc.github.io/">
    <meta name="twitter:image" content="https://cbitosc.github.io/assets/img/team/cosclogo.png">
    <meta name="twitter:description" content="COSC is an open-source Community based in CBIT curated by its students and staff">

    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/paper-kit.css?v=2.1.0" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet">

</head>
