@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 237, 239;
  --background-start-rgb: 15, 9, 19;
  --background-end-rgb: 15, 9, 19;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #0f0913;
  /* background: linear-gradient(
    130deg,
    rgba(15, 9, 19, 1) 28%,
    rgba(61, 46, 16, 1) 50%,
    rgba(15, 9, 19, 1) 67%
  ); */
  background-attachment: fixed;
  box-sizing: border-box;
}

.spacer {
  aspect-ratio: 1057/644;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer1 {
  aspect-ratio: 900/900;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer2 {
  aspect-ratio: 900/900;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer3 {
  /* aspect-ratio: 540/960;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  background: hsla(276, 36%, 5%, 1);

  background: linear-gradient(0deg,
      hsla(276, 36%, 5%, 1) 0%,
      hsla(192, 68%, 15%, 1) 44%,
      hsla(192, 69%, 25%, 1) 100%);

  background: -moz-linear-gradient(0deg,
      hsla(276, 36%, 5%, 1) 0%,
      hsla(192, 68%, 15%, 1) 44%,
      hsla(192, 69%, 25%, 1) 100%);

  background: -webkit-linear-gradient(0deg,
      hsla(276, 36%, 5%, 1) 0%,
      hsla(192, 68%, 15%, 1) 44%,
      hsla(192, 69%, 25%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0F0913", endColorstr="#0C3640", GradientType=1);
}

.layer1 {
  background-image: url("/stacked-wave-blue1.svg");
}

.layer2 {
  background-image: url("/stacked-wave-blue2.svg");
}

.layer4 {
  background-image: url("/stacked-wave-blue4.svg");
}

.layer5 {
  background-image: url("/stacked-wave-blue5.svg");
}

.layer6 {
  background-image: url("/stacked-waves-blueVer.svg");
}

.layerDeez {
  background-image: url("/polygonScatter.svg");
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  /* height: 100vh; */
  width: 650vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  /* height: 100vh; */
  width: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4));
  background: -moz-gradient(linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4));
  background: gradient(linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4));
  -webkit-background-size: 70px 100%;
  -moz-background-size: 70px 100%;
  background-size: 70px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ad832d;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

.shimmerb {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#33b6d8),
      to(#33b6d8),
      color-stop(0.3, #b2f3e0));
  background: -moz-gradient(linear,
      left top,
      right top,
      from(#33b6d8),
      to(#33b6d8),
      color-stop(0.3, #b2f3e0));
  background: gradient(linear,
      left top,
      right top,
      from(#33b6d8),
      to(#33b6d8),
      color-stop(0.3, #b2f3e0));
  -webkit-background-size: 70px 100%;
  -moz-background-size: 70px 100%;
  background-size: 70px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmerb;
  -moz-animation-name: shimmerb;
  animation-name: shimmerb;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #33b6d8;
}

@-moz-keyframes shimmerb {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmerb {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmerb {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmerb {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

.formlabel {
  color: #33b6d8;
  /* Text color equivalent to text-blue-200 */
  font-size: 1.25rem;
  /* Font size equivalent to text-xl */
  padding-top: 0.5rem;
  /* Top padding equivalent to py-2 */
  padding-bottom: 0.5rem;
}

.forminput {
  padding: 0.5rem 1rem;
  border: 1px solid #d2b863;
  background-color: rgba(239, 237, 239, 0.2);
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  /* Default font size */
  width: 20rem;
}

@media (max-width: 768px) {

  /* Apply these styles for screens smaller than or equal to the medium breakpoint (768px) */
  .forminput {
    font-size: 1rem;
  }
}

.checkbox {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

* {
  text-align: justify;
}






@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .navbar-ios {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  }

  .hero-ios {
      margin-top: 110px; /* Adjust this value as needed */
       /* Adjust this value as needed */
  }
}
