.container-custom{
	padding:30px;
}
/*.card{
	padding:10px;
	padding-bottom: 50px;
}*/
.card{
	padding-bottom: 20px;
	border-radius: 0;
}
.card-text{
	padding: 10px;
}
.footer{
    position:static;
    background-color: #292c2f;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 35px 30px;
    color: rgb(255,255,255);
    /*margin-top: 80px;*/
}
#hrstyle{
	 box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
	 width: 30%;
	 margin-top: -10px;
}
